@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

    <ul class="navbar-nav ms-auto">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" style="font-size: 25px;" asp-controller="Orders" asp-action="ViewCart" { width: 300px;
               height: 100px;
               padding: 15px;
               background-color: coral;
               box-shadow: 10px 10px;}>&#128722</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Wyloguj</a>
        </li>
    } else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Rejestracja</a>
        </li>
    }
</ul>