@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">toastr.success('@TempData["success"]', { timeOut: 50000 })</script>
@*     <h2>@TempData["success"]</h2> *@
}
@if (TempData["CartMessage"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">toastr.success('@TempData["CartMessage"]', { timeOut: 50000 })</script>
    @*     <h2>@TempData["success"]</h2> *@
}