@model IEnumerable<ZamawianiePosiłkowOnline.Models.City>

@{
    ViewData["Title"] = "Miasta";
}
<partial name="_Notification"| />
<h1>Miasta</h1>

<p>
    <a asp-action="Create">Dodaj Nowe Miasto</a>
</p>
<table class="table">

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/CityImages/@item.ImageUrl" width="350" height="350"></img>
                @Html.DisplayFor(modelItem => item.CityName)
                <a asp-action="Delete" asp-route-id="@item.CityID" class="btn btn-danger">Usuń</a>
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>