@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Privacy Policy";
}
@inject SignInManager<Users> SingInManager
@inject UserManager<Users> UserManager

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
