@model IEnumerable<Restaurant>
@{
    ViewData["Title"] = "Dania";
}
<style>
    .column {
        float: left;
        width: 33.33%;
        position: relative;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
        position: relative;
    }

    .container {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>
    <div class="row container">
        @foreach (Restaurant restaurant in Model)
        {
        <div class="column">
            <img src="~/CityImages/@restaurant.ImageUrl" width="333" height="333" />
            <div>
                <a class="btn" class="column" asp-controller="Orders" asp-action="SelectedRestaurant" asp-route-id="@restaurant.RestaurantID" style="width:333px" >
                    @restaurant.RestaurantName
                </a>
            </div>
        </div>
        }
    </div>